.wrap{
    width: 100%;
    overflow-x: hidden;
}
body{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
   
}
.sub_wrap{
    padding: 2em;
    
}
.ibar{
	font-size: 30px;
	 margin: 10px;
	color: white;
	position: absolute;
	display:none;

}
#sub_ibar{
    
    display: none;
    right: 0;
    text-align: right;
}
.barra {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    font-weight: bolder;
  
        color:white;
    
    background-color: #FFAE19;
    padding: 0.75em;
  }
  .link_barra{
    color: white;

    text-decoration: none;
  }
  .sub_barra1{
    
  }
  .link_barra_a{
    color:black;
  }
  h1{
      font-size: large;
      font-weight: bold;
  }
  h2{
    font-size: medium;
    font-weight: lighter; 
  }
#titulo{
    text-align: center;
}
.fotorama{
  padding-left: 4em;
  
}
.pregunta{
    padding: 0.5em;
    background:gray;
    color:white;
    font-weight: bold;
}
.respuesta{
    padding: 0.5em;
    background:rgb(241, 241, 241);
    color:black;
   
}
.a{
    text-decoration: none;
    text-decoration-color: none;
color: cornsilk;}
.sub_boton1{
    

    text-align: center;
    font-size: 1em;
    color: #fff;
    background: rgb(149, 207, 2);
background: radial-gradient(circle, rgb(143, 199, 0) 0%, rgb(105, 226, 0) 46%);
border-radius: 1em;
padding: 1em;
text-shadow: 2px 2px #000}
.subsub1{
   
    text-align: center;
    font-size: small;
}
.subsub{
    color:green;
    text-align: center;
    font-size: x-small;
}
.sub_boton2{
    text-align: center;
    font-size: 1em;
    background: rgb(0,255,244);
background: radial-gradient(circle, rgb(0, 171, 187) 0%, rgba(0,181,255,1) 46%);
border-radius: 1em;
padding: 1em;
text-shadow: 2px 2px #000}

.botones{
    overflow: auto;  
    display: grid;
    grid-template-columns: auto auto ;
    
    font-weight: bolder;
    color: white;
   
    
}
.sub_barra{
    text-align: center;
    text-decoration: none;
    color:white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.sub_barra_res_1{
    
   right: 0%;
    align-self: right;
    float: right;
    text-align: right;
    

}

.sub_barra_res_0{font-family: 'Raleway', sans-serif;
font-size: 1.05em; text-align: center;}  

.barrares{
    display: NONE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: bolder;
    color: white;
    background-color: #FFAE19;
    padding: 0.75em;
}
.servicios{
    
    text-align: center;
    grid-gap: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bolder;
    color: black;
    background-color: rgb(235, 235, 235);
    padding: 0.75em;
}
.fa-hourglass-half{
    color:rgb(130, 192, 37);
    text-shadow: 2px 2px #fff;
    font-size: 2.5em;
}

.fa-car-battery{
    color:rgb(218, 40, 40);
    text-shadow: 2px 2px #fff;
    font-size: 2.5em;
}

.fa-gas-pump{
    color:rgb(236, 232, 17);
    text-shadow: 2px 2px #fff;
    font-size: 2.5em;
}
.fa-tools{
    color:rgb(100, 100, 100);
    text-shadow: 2px 2px #fff;
    font-size: 2.5em;
}

.ser1_{
    font-size: normal;
}
.footer{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr ;
    font-weight: bolder;
    color: white;
    background-color: #6b6b6b;
    padding: 1em;
    
    bottom:0;
}
.logo_final{
    text-align: center;
    width: 5em;
    height: auto;
}
.foot1sub,.foot2sub,.foot3sub,.foot4sub{
    font-weight: lighter;
}
#foto2{
    display: none;
}
#foto{
    display: block;
    padding-right:3em;
}
.sub_wrap{
    padding-top:0;
    padding-left: 4em;
    padding-right: 4em;
}
.contenido{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr ;
}
.c1{
    font-size: 1.2em;
    padding-right: 4em;
    padding-left: 4em;
}
.resimg{
    max-width: 600px;
    width: 100%;
    height: auto;
}
.rs1{
    padding: 1em;
    background:rgb(54, 161, 233);
    color: white;
    font-size: 1.4em;
    border-radius: 2em;
}
.rs2{
    padding: 1em;
    background:rgb(54, 233, 129);
    color: white;
    font-size: 1.4em;
    border-radius: 2em;
}
.rs3{
    padding: 1em;
    background:rgb(238, 152, 94);
    color: white;
    font-size: 1.4em;
    border-radius: 2em;
}
.rsig{
    padding: 1em;
    background:rgb(255, 164, 240);
    color: white;
    font-size: 1.4em;
    border-radius: 2em;
}
.rsfb{
    padding: 1em;
    background:rgb(64, 43, 255);
    color: white;
    font-size: 1.4em;
    border-radius: 2em;
}
@media only screen and (max-width: 600px) {
.barra{display: none;}
.barrares{display:grid;}
.sub_wrap{
    padding-left: 1em;
    padding-right: 1em;
}
.footer{
    text-align: center;
}

.ibar{
    right: 0%;
    align-self: right;
    float: right;
    text-align: right;
    display: block;
    
    }
    
    
    #sub_ibar{
        font-size: 2em;
        padding-right: 1em;
        color: #fff;
        width: 60%;
        height: 100%;
        background: orange;
        position: absolute;
        float: right;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
.boton1,.boton2{
    text-align: right;
    border: none;
    background:none;
    color: white;
    float: right;
   font-size: 0.8em;
}
.ibar_nav{
    padding:0.5em;
}
.ibar_nav_drop_item{
    border-bottom: solid 3px white;
    text-align: left;
    padding:0.3em;
    font-size: 0.7em;
}
#foto{
    display: none;
}
#foto2{
    display: block
}
.contenido{
    display: block;
 
}
.c1{
    font-size: 1em;
    padding-right: 2em;
    padding-left: 2em;
}
}